/* Styling for the footer */

footer {
	text-align: center;
	height: 60px;
	width: 100%;
	background-color: #e8e8e8;
}

.text-muted {
	padding-top: 15px;
}

/* Styling for the header */

.header {
  	padding-bottom: 10px;
  	background-color: white;
  	margin-top: -25px;
}

.col-xs-12.text-center{
	color: black;
	padding-top: -20px;
}

h1, h2, h3 {
	color: #666666;
}

/* Styling for the map */

#map {
	width: 100%;
	height: 556px;
}

.olMap {
	padding-left: -10px;
}

/* Styling for the main containers */
.row {
  max-height: 556px;
  margin-right: 0px;
  margin-left: 0px;
}

.col-lg-2 {
	background-color: #d0d0d0; 
	padding-top: 20px;
  height: 556px;
}

.col-lg-10 {
	background-color: white;
  padding: 0px;
  height: 556px;
}

.container-fluid.main, .container-fluid.main2 {
	height: 556px;
	background-color: #f2f2f2;
}

.container-fluid.main p {
	padding-top: 20px;
	padding-left: 40px;
}

/* Custom Styling for the navbar */